<!DOCTYPE html>
<html>
<head>
    <title>Video Recorder</title>
</head>
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="startRecord">Start Recording</button>
    <button id="stopRecord" disabled>Stop Recording</button>
    <script>
        let video = document.getElementById('video');
        let startButton = document.getElementById('startRecord');
        let stopButton = document.getElementById('stopRecord');

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function(stream) {
                    video.srcObject = stream;
                })
                .catch(function(error) {
                    console.log("Something went wrong!");
                });
        }

        startButton.onclick = function() {
            // Code to start recording
            console.log("Recording started");
            this.disabled = true;
            stopButton.disabled = false;
        };

        stopButton.onclick = function() {
            // Code to stop recording
            console.log("Recording stopped");
            this.disabled = true;
            startButton.disabled = false;
        };
    </script>
</body>
</html>